<%- include('./includes/head.ejs') %>
	</head>

	<body>
		<div class="wavy-wraper">
			<div class="wavy">
				<span style="--i:1;">p</span>
				<span style="--i:2;">i</span>
				<span style="--i:3;">t</span>
				<span style="--i:4;">n</span>
				<span style="--i:5;">i</span>
				<span style="--i:6;">k</span>
				<span style="--i:7;">.</span>
				<span style="--i:8;">.</span>
				<span style="--i:9;">.</span>
			</div>
		</div>
		<div class="theme-layout">

			<div class="postoverlay"></div>

			<%- include('./layouts/responsive-header.ejs') %>

				<%- include('./layouts/header.ejs') %>

					<div class="fixed-sidebar right">
						<div class="chat-friendz">
							<ul class="chat-users">
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend1.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend2.jpg" alt="">
										<span class="status f-away"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend3.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend4.jpg" alt="">
										<span class="status f-offline"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend5.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend6.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend7.jpg" alt="">
										<span class="status f-offline"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend8.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend9.jpg" alt="">
										<span class="status f-away"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend10.jpg" alt="">
										<span class="status f-away"></span>
									</div>
								</li>
								<li>
									<div class="author-thmb">
										<img src="/images/resources/side-friend8.jpg" alt="">
										<span class="status f-online"></span>
									</div>
								</li>
							</ul>
							<div class="chat-box">
								<div class="chat-head">
									<span class="status f-online"></span>
									<h6>Bucky Barnes</h6>
									<div class="more">
										<div class="more-optns"><i class="ti-more-alt"></i>
											<ul>
												<li>block chat</li>
												<li>unblock chat</li>
												<li>conversation</li>
											</ul>
										</div>
										<span class="close-mesage"><i class="ti-close"></i></span>
									</div>
								</div>
								<div class="chat-list message-writing-box" style="height: 400px;">
									<ul class="conversations-index" style="height: 350px;">
										<!-- Render message here -->
									</ul>
									<form class="text-box">
										<textarea placeholder="Post enter to post..."></textarea>
										<div class="add-smiles">
											<span title="add icon" class="em em-expressionless"></span>
											<div class="smiles-bunch">
												<i class="em em---1"></i>
												<i class="em em-smiley"></i>
												<i class="em em-anguished"></i>
												<i class="em em-laughing"></i>
												<i class="em em-angry"></i>
												<i class="em em-astonished"></i>
												<i class="em em-blush"></i>
												<i class="em em-disappointed"></i>
												<i class="em em-worried"></i>
												<i class="em em-kissing_heart"></i>
												<i class="em em-rage"></i>
												<i class="em em-stuck_out_tongue"></i>
											</div>
										</div>

										<button type="submit"></button>
									</form>
								</div>
							</div>
						</div>
					</div><!-- right sidebar user chat -->

					<!-- left sidebar menu -->
					<%- include('./layouts/leftSidebarMenu.ejs') %>


						<section>
							<div class="gap2 gray-bg">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">
											<div class="row merged20" id="page-contents">
												<%- include('./layouts/user-navigation.ejs') %>

													<div class="col-lg-3">
														<aside class="sidebar static left">
															<div class="widget">
																<h4 class="widget-title">User Badges <a class="see-all"
																		href="#" title="">See All</a></h4>
																<ul class="badgez-widget">
																	<li>
																		<a href="#" title="Male User"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge2.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="10 Years old User"
																			data-toggle="tooltip"><img
																				src="/images/badges/year10.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="Page Admin"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge1.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="100+ Refferal"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge8.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="Tranding Posts"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge21.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="1000+ Subscribers"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge3.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="Pitnik Shirt winner"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge20.png"
																				alt=""></a>
																	</li>
																	<li>
																		<a href="#" title="500+ Followers"
																			data-toggle="tooltip"><img
																				src="/images/badges/badge10.png"
																				alt=""></a>
																	</li>
																</ul>
															</div><!-- badges -->
															<div class="widget">
																<div class="weather-widget low-opacity bluesh">
																	<div class="bg-image"
																		style="background-image: url(/images/resources/weather.jpg)">
																	</div>
																	<span class="refresh-content"><i
																			class="fa fa-refresh"></i></span>
																	<div class="weather-week">
																		<div class="icon sun-shower">
																			<div class="cloud"></div>
																			<div class="sun">
																				<div class="rays"></div>
																			</div>
																			<div class="rain"></div>
																		</div>
																	</div>
																	<div class="weather-infos">
																		<span class="weather-tem">25</span>
																		<h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i>
																		</h3>
																		<div class="weather-date skyblue-bg">
																			<span>MAY<strong>21</strong></span>
																		</div>
																	</div>
																	<div class="monthly-weather">
																		<ul>
																			<li>
																				<span>Sun</span>
																				<a href="#" title=""><i
																						class="wi wi-day-sunny"></i></a>
																				<em>40°</em>
																			</li>
																			<li>
																				<span>Mon</span>
																				<a href="#" title=""><i
																						class="wi wi-day-cloudy"></i></a>
																				<em>10°</em>
																			</li>
																			<li>
																				<span>Tue</span>
																				<a href="#" title=""><i
																						class="wi wi-day-hail"></i></a>
																				<em>20°</em>
																			</li>
																			<li>
																				<span>Wed</span>
																				<a href="#" title=""><i
																						class="wi wi-day-lightning"></i></a>
																				<em>34°</em>
																			</li>
																			<li>
																				<span>Thu</span>
																				<a href="#" title=""><i
																						class="wi wi-day-showers"></i></a>
																				<em>22°</em>
																			</li>
																			<li>
																				<span>Fri</span>
																				<a href="#" title=""><i
																						class="wi wi-day-windy"></i></a>
																				<em>26°</em>
																			</li>
																			<li>
																				<span>Sat</span>
																				<a href="#" title=""><i
																						class="wi wi-day-sunny-overcast"></i></a>
																				<em>30°</em>
																			</li>
																		</ul>
																	</div>

																</div><!-- Weather Widget -->
															</div><!-- twitter feed-->
															<div class="widget">
																<h4 class="widget-title">Twitter feed</h4>
																<ul class="twiter-feed">
																	<li>
																		<i class="fa fa-twitter"></i>
																		<span>
																			<i>jhon william</i>
																			@jhonwilliam
																		</span>
																		<p>tomorrow with the company we were working and
																			5
																			child
																			run
																			away from the working place. <a href="#"
																				title="">#daydream5k</a> </p>
																		<em>2 hours ago</em>
																	</li>
																	<li>
																		<i class="fa fa-twitter"></i>
																		<span>
																			<i>Kelly watson</i>
																			@kelly
																		</span>
																		<p>tomorrow with the company we were working and
																			5
																			child
																			run
																			away from the working place. <a href="#"
																				title="">#daydream5k</a> </p>
																		<em>2 hours ago</em>
																	</li>
																	<li>
																		<i class="fa fa-twitter"></i>
																		<span>
																			<i>Jony bravo</i>
																			@jonibravo
																		</span>
																		<p>tomorrow with the company we were working and
																			5
																			child
																			run
																			away from the working place. <a href="#"
																				title="">#daydream5k</a> </p>
																		<em>2 hours ago</em>
																	</li>
																</ul>
															</div><!-- twitter feed-->
															<div class="advertisment-box">
																<h4 class="">advertisment</h4>
																<figure>
																	<a href="#" title="Advertisment"><img
																			src="/images/resources/ad-widget.gif"
																			alt=""></a>
																</figure>
															</div>
															<div class="widget">
																<h4 class="widget-title">Shortcuts</h4>
																<ul class="naves">
																	<li>
																		<i class="ti-clipboard"></i>
																		<a href="/" title="">News feed</a>
																	</li>
																	<li>
																		<i class="ti-mouse-alt"></i>
																		<a href="inbox.html" title="">Inbox</a>
																	</li>
																	<li>
																		<i class="ti-files"></i>
																		<a href="fav-page.html" title="">My pages</a>
																	</li>
																	<li>
																		<i class="ti-user"></i>
																		<a href="/user/<%= user.slug %>/friends"
																			title="">friends</a>
																	</li>
																	<li>
																		<i class="ti-image"></i>
																		<a href="/user/<%= user.slug %>/photos"
																			title="">images</a>
																	</li>
																	<li>
																		<i class="ti-video-camera"></i>
																		<a href="/user/<%= user.slug %>/videos"
																			title="">videos</a>
																	</li>
																	<li>
																		<i class="ti-comments-smiley"></i>
																		<a href="/chat-messenger" title="">Messages</a>
																	</li>
																	<li>
																		<i class="ti-bell"></i>
																		<a href="/notifications"
																			title="">Notifications</a>
																	</li>
																	<li>
																		<i class="ti-power-off"></i>
																		<a id="logout" href="landing.html"
																			title="">Logout</a>
																	</li>
																</ul>
															</div><!-- Shortcuts -->
															<div class="widget">
																<h4 class="widget-title">Recent Activity</h4>
																<ul class="activitiez">
																	<li>
																		<div class="activity-meta">
																			<i>10 hours Ago</i>
																			<span><a href="#" title="">Commented on
																					Video
																					posted
																				</a></span>
																			<h6>by <a href="time-line.html">black
																					demon.</a>
																			</h6>
																		</div>
																	</li>
																	<li>
																		<div class="activity-meta">
																			<i>30 Days Ago</i>
																			<span><a href="#" title="">Posted your
																					status.
																					“Hello
																					guys,
																					how are you?”</a></span>
																		</div>
																	</li>
																	<li>
																		<div class="activity-meta">
																			<i>2 Years Ago</i>
																			<span><a href="#" title="">Share a video on
																					her
																					timeline.</a></span>
																			<h6>"<a href="#">you are so funny
																					mr.been.</a>"
																			</h6>
																		</div>
																	</li>
																</ul>
															</div><!-- recent activites -->
															<div class="widget stick-widget">
																<h4 class="widget-title">Who's follownig</h4>
																<ul class="followers">
																	<li>
																		<figure><img
																				src="/images/resources/friend-avatar2.jpg"
																				alt="">
																		</figure>
																		<div class="friend-meta">
																			<h4><a href="time-line.html" title="">Kelly
																					Bill</a>
																			</h4>
																			<a href="#" title="" class="underline">Add
																				Friend</a>
																		</div>
																	</li>
																	<li>
																		<figure><img
																				src="/images/resources/friend-avatar4.jpg"
																				alt="">
																		</figure>
																		<div class="friend-meta">
																			<h4><a href="time-line.html"
																					title="">Issabel</a>
																			</h4>
																			<a href="#" title="" class="underline">Add
																				Friend</a>
																		</div>
																	</li>
																	<li>
																		<figure><img
																				src="/images/resources/friend-avatar6.jpg"
																				alt="">
																		</figure>
																		<div class="friend-meta">
																			<h4><a href="time-line.html"
																					title="">Andrew</a>
																			</h4>
																			<a href="#" title="" class="underline">Add
																				Friend</a>
																		</div>
																	</li>
																	<li>
																		<figure><img
																				src="/images/resources/friend-avatar8.jpg"
																				alt="">
																		</figure>
																		<div class="friend-meta">
																			<h4><a href="time-line.html"
																					title="">Sophia</a>
																			</h4>
																			<a href="#" title="" class="underline">Add
																				Friend</a>
																		</div>
																	</li>
																	<li>
																		<figure><img
																				src="/images/resources/friend-avatar3.jpg"
																				alt="">
																		</figure>
																		<div class="friend-meta">
																			<h4><a href="time-line.html"
																					title="">Allen</a>
																			</h4>
																			<a href="#" title="" class="underline">Add
																				Friend</a>
																		</div>
																	</li>
																</ul>
															</div><!-- who's following -->
														</aside>
													</div><!-- sidebar -->
													<div class="col-lg-6">
														<!-- Create post -->
														<% if(user._id.toString()==remoteUser.id.toString()) { %>
															<div class="central-meta postbox">
																<span class="create-post">Create post</span>
																<div class="new-postbox">
																	<figure>
																		<img style="width: 45px; height: 45px; border-radius: 50%"
																			src="<%= user.avatar %>" alt="">
																	</figure>
																	<div class="newpst-input">
																		<form method="post">
																			<textarea rows="2"
																				placeholder="Share some what you are thinking?"></textarea>

																		</form>
																	</div>
																	<div class="photo-container"
																		style="display: none; justify-content: center; align-items: center; width: 100%; height: max-content; padding: 12px 0 24px 0">
																		<image class="photo" width="300"
																			style="display: none" />
																	</div>
																	<div class="attachments">
																		<ul>
																			<li>
																				<span class="add-loc">
																					<i class="fa fa-map-marker"></i>
																				</span>
																			</li>
																			<li>
																				<i class="fa fa-music"></i>
																				<label class="fileContainer">
																					<input class="attachments-music"
																						type="file">
																				</label>
																			</li>
																			<li>
																				<i class="fa fa-image"></i>
																				<label class="fileContainer">
																					<input class="attachments-image"
																						type="file">
																				</label>
																			</li>
																			<li>
																				<i class="fa fa-video-camera"></i>
																				<label class="fileContainer">
																					<input class="attachments-video"
																						type="file">
																				</label>
																			</li>
																			<!-- <li>
																				<i class="fa fa-camera"></i>
																				<label class="fileContainer">
																					<input class="attachments-camera"
																						type="file">
																				</label>
																			</li> -->
																			<li class="preview-btn">
																				<button class="post-btn-preview"
																					type="submit"
																					data-ripple="">Preview</button>
																			</li>
																		</ul>
																		<button class="post-btn" type="submit"
																			data-ripple="">Post</button>
																	</div>
																	<div class="add-location-post">
																		<span>Drag map point to selected area</span>
																		<div class="row">

																			<div class="col-lg-6">
																				<label class="control-label">Lat
																					:</label>
																				<input type="text" class=""
																					id="us3-lat" />
																			</div>
																			<div class="col-lg-6">
																				<label>Long :</label>
																				<input type="text" class=""
																					id="us3-lon" />
																			</div>
																		</div>
																		<!-- map -->
																		<div id="us3"></div>
																	</div>
																</div>

															</div>
															<% } %>
																<!-- Suggest friend -->
																<div class="central-meta">
																	<span class="create-post">Suggested Friend's <a
																			href="#" title="">See
																			All</a></span>
																	<ul class="suggested-frnd-caro">
																		<li>
																			<img src="/images/resources/recent1.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Olivia</a>
																				<span>1 mutual friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																		<li>
																			<img src="/images/resources/recent2.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Emma watson</a>
																				<span>2 mutual friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																		<li>
																			<img src="/images/resources/recent3.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Isabella</a>
																				<span><a href="#" title="">Emmy</a> is
																					mutual
																					friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																		<li>
																			<img src="/images/resources/recent4.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Amelia</a>
																				<span>5 mutual friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																		<li>
																			<img src="/images/resources/recent5.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Sophia</a>
																				<span>1 mutual friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																		<li>
																			<img src="/images/resources/recent6.jpg"
																				alt="">
																			<div class="sugtd-frnd-meta">
																				<a href="#" title="">Amelia</a>
																				<span>3 mutual friend</span>
																				<ul class="add-remove-frnd">
																					<li class="add-tofrndlist"><a
																							href="#"
																							title="Add friend"><i
																								class="fa fa-user-plus"></i></a>
																					</li>
																					<li class="remove-frnd"><a href="#"
																							title="remove friend"><i
																								class="fa fa-user-times"></i></a>
																					</li>
																				</ul>
																			</div>
																		</li>
																	</ul>
																</div><!-- suggested friends -->
																<div class="loadMore">
																	<!-- posts is called here -->
																</div>
													</div><!-- centerl meta -->
													<div class="col-lg-3">
														<aside class="sidebar static right">
															<%- include('./layouts/likePageRightSidebarMenu.ejs') %>
																<%- include('./layouts/introProfileRightSidebarMenu.ejs')
																	%>
														</aside>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section><!-- content -->

						<a title="Your Cart Items" href="shop-cart.html" class="shopping-cart"
							data-toggle="tooltip">Cart <i class="fa fa-shopping-bag"></i><span>02</span></a>

						<div class="bottombar">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<span class="copyright">© Pitnik 2020. All rights reserved.</span>
										<i><img src="/images/credit-cards.png" alt=""></i>
									</div>
								</div>
							</div>
						</div><!-- bottom bar -->
		</div>
		<div class="side-panel">
			<h4 class="panel-title">General Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>use night mode</span>
					<input type="checkbox" id="nightmode1" />
					<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notifications</span>
					<input type="checkbox" id="switch22" />
					<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Notification sound</span>
					<input type="checkbox" id="switch33" />
					<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>My profile</span>
					<input type="checkbox" id="switch44" />
					<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show profile</span>
					<input type="checkbox" id="switch55" />
					<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
			<h4 class="panel-title">Account Setting</h4>
			<form method="post">
				<div class="setting-row">
					<span>Sub users</span>
					<input type="checkbox" id="switch66" />
					<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>personal account</span>
					<input type="checkbox" id="switch77" />
					<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Business account</span>
					<input type="checkbox" id="switch88" />
					<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Show me online</span>
					<input type="checkbox" id="switch99" />
					<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Delete history</span>
					<input type="checkbox" id="switch101" />
					<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
				</div>
				<div class="setting-row">
					<span>Expose author name</span>
					<input type="checkbox" id="switch111" />
					<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
				</div>
			</form>
		</div><!-- side panel -->

		<div class="popup-wraper2">
			<div class="popup post-sharing">
				<span class="popup-closed"><i class="ti-close"></i></span>
				<div class="popup-meta">
					<div class="popup-head">
						<select data-placeholder="Share to friends..." multiple class="chosen-select multi">
							<option>Share in your feed</option>
							<option>Share in friend feed</option>
							<option>Share in a page</option>
							<option>Share in a group</option>
							<option>Share in message</option>
						</select>
						<div class="post-status">
							<span><i class="fa fa-globe"></i></span>
							<ul>
								<li><a href="#" title=""><i class="fa fa-globe"></i> Post Globaly</a></li>
								<li><a href="#" title=""><i class="fa fa-user"></i> Post Private</a></li>
								<li><a href="#" title=""><i class="fa fa-user-plus"></i> Post Friends</a></li>
							</ul>
						</div>
					</div>
					<div class="postbox">
						<div class="post-comt-box">
							<form method="post">
								<input type="text" placeholder="Search Friends, Pages, Groups, etc....">
								<textarea placeholder="Say something about this..."></textarea>
								<div class="add-smiles">
									<span title="add icon" class="em em-expressionless"></span>
									<div class="smiles-bunch">
										<i class="em em---1"></i>
										<i class="em em-smiley"></i>
										<i class="em em-anguished"></i>
										<i class="em em-laughing"></i>
										<i class="em em-angry"></i>
										<i class="em em-astonished"></i>
										<i class="em em-blush"></i>
										<i class="em em-disappointed"></i>
										<i class="em em-worried"></i>
										<i class="em em-kissing_heart"></i>
										<i class="em em-rage"></i>
										<i class="em em-stuck_out_tongue"></i>
									</div>
								</div>

								<button type="submit"></button>
							</form>
						</div>
						<figure><img src="/images/resources/share-post.jpg" alt=""></figure>
						<div class="friend-info">
							<figure>
								<img alt="" src="/images/resources/admin.jpg">
							</figure>
							<div class="friend-name">
								<ins><a title="" href="time-line.html">Jack Carter</a> share <a title=""
										href="#">link</a></ins>
								<span>Yesterday with @Jack Piller and @Emily Stone at the concert of # Rock'n'Rolla in
									Ontario.</span>
							</div>
						</div>
						<div class="share-to-other">
							<span>Share to other socials</span>
							<ul>
								<li><a class="facebook-color" href="#" title=""><i
											class="fa fa-facebook-square"></i></a></li>
								<li><a class="twitter-color" href="#" title=""><i class="fa fa-twitter-square"></i></a>
								</li>
								<li><a class="dribble-color" href="#" title=""><i class="fa fa-dribbble"></i></a></li>
								<li><a class="instagram-color" href="#" title=""><i class="fa fa-instagram"></i></a>
								</li>
								<li><a class="pinterest-color" href="#" title=""><i
											class="fa fa-pinterest-square"></i></a></li>
							</ul>
						</div>
						<div class="copy-email">
							<span>Copy & Email</span>
							<ul>
								<li><a href="#" title="Copy Post Link"><i class="fa fa-link"></i></a></li>
								<li><a href="#" title="Email this Post"><i class="fa fa-envelope"></i></a></li>
							</ul>
						</div>
						<div class="we-video-info">
							<ul>
								<li>
									<span title="" data-toggle="tooltip" class="views" data-original-title="views">
										<i class="fa fa-eye"></i>
										<ins>1.2k</ins>
									</span>
								</li>
								<li>
									<span title="" data-toggle="tooltip" class="views" data-original-title="views">
										<i class="fa fa-share-alt"></i>
										<ins>20k</ins>
									</span>
								</li>
							</ul>
							<button class="main-btn color" data-ripple="">Submit</button>
							<button class="main-btn cancel" data-ripple="">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div><!-- share popup -->

		<div class="popup-wraper3">
			<div class="popup">
				<span class="popup-closed"><i class="ti-close"></i></span>
				<div class="popup-meta">
					<div class="popup-head">
						<h5>Report Post</h5>
					</div>
					<div class="Rpt-meta">
						<span>We're sorry something's wrong. How can we help?</span>
						<form method="post" class="c-form">
							<div class="form-radio">
								<div class="radio">
									<label>
										<input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's
										spam or abuse
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>It breaks
										r/technology's rules
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>Not Related
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>Other issues
									</label>
								</div>
							</div>
							<div>
								<label>Write about Report</label>
								<textarea placeholder="write someting about Post" rows="2"></textarea>
							</div>
							<div>
								<button data-ripple="" type="submit" class="main-btn">Submit</button>
								<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- report popup -->

		<div class="popup-wraper1">
			<div class="popup direct-mesg">
				<span class="popup-closed"><i class="ti-close"></i></span>
				<div class="popup-meta">
					<div class="popup-head">
						<h5>Send Message</h5>
					</div>
					<div class="send-message">
						<form method="post" class="c-form">
							<input type="text" placeholder="Sophia">
							<textarea placeholder="Write Message"></textarea>
							<button type="submit" class="main-btn">Send</button>
						</form>
						<div class="add-smiles">
							<div class="uploadimage">
								<i class="fa fa-image"></i>
								<label class="fileContainer">
									<input type="file">
								</label>
							</div>
							<span title="add icon" class="em em-expressionless"></span>
							<div class="smiles-bunch">
								<i class="em em---1"></i>
								<i class="em em-smiley"></i>
								<i class="em em-anguished"></i>
								<i class="em em-laughing"></i>
								<i class="em em-angry"></i>
								<i class="em em-astonished"></i>
								<i class="em em-blush"></i>
								<i class="em em-disappointed"></i>
								<i class="em em-worried"></i>
								<i class="em em-kissing_heart"></i>
								<i class="em em-rage"></i>
								<i class="em em-stuck_out_tongue"></i>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div><!-- send message popup -->

		<div class="popup-wraper3">
			<div class="popup">
				<span class="popup-closed"><i class="ti-close"></i></span>
				<div class="popup-meta">
					<div class="popup-head">
						<h5>Report Post</h5>
					</div>
					<div class="Rpt-meta">
						<span>We're sorry something's wrong. How can we help?</span>
						<form method="post" class="c-form">
							<div class="form-radio">
								<div class="radio">
									<label>
										<input type="radio" name="radio" checked="checked"><i class="check-box"></i>It's
										spam or abuse
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>It breaks
										r/technology's rules
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>Not Related
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio"><i class="check-box"></i>Other issues
									</label>
								</div>
							</div>
							<div>
								<label>Write about Report</label>
								<textarea placeholder="write someting about Post" rows="2"></textarea>
							</div>
							<div>
								<button data-ripple="" type="submit" class="main-btn">Submit</button>
								<a href="#" data-ripple="" class="main-btn3 cancel">Close</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- report popup -->
	</body>


	</html>

	<script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>

	<script>
		ClassicEditor
			.create(document.querySelector('#editor'))
			.catch(error => {
				console.error(error);
			});
	</script>

	<%- include('./includes/end.ejs') %>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
		<script src="/js/locationpicker.jquery.js"></script>
		<script src="/js/map-init.js"></script>

		<script>
			const remoteUser = JSON.parse('<%- JSON.stringify(remoteUser) %>');
		</script>
		<script src="/js/client/timeline.js"></script>