<div class="user-profile">
    <figure>
        <div class="edit-pp">
            <label class="fileContainer">
                <i class="fa fa-camera"></i>
                <input type="file">
            </label>
        </div>
        <img src="/images/resources/profile-image.jpg" alt="">
        <ul class="profile-controls">
            <% if(user.id !=remoteUser.id) { %>
                <!-- When remoteUser is a user's friend -->
                <% if(user.friends.findIndex(friend=> friend.user.toString() == remoteUser.id.toString() &&
                    friend.status == 'friend') !=-1 ) { %>
                    <li class="friend">
                        <a title="Bạn bè" data-toggle="tooltip">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li class="add-tofrndlist add-tofrndlist-remove-friend">
                        <a href="#" title="Hủy kết bạn" data-toggle="tooltip">
                            <i class="fa fa-trash"></i>
                        </a>
                    </li>

                    <% } <!-- When remoteUser is a user's stranger -->
                        else { %>
                        <!--  remoteUser friend request to user  -->
                        <% if(user.friends.findIndex(friend=> friend.user.toString() == remoteUser.id.toString())
                            !=-1) { %>
                            <li class="add-tofrndlist add-tofrndlist-add-remove add-tofrndlist-add">
                                <a href="#" title="Chấp nhận lời mời kết bạn" data-toggle="tooltip">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </li>
                            <li class="add-tofrndlist add-tofrndlist-add-remove add-tofrndlist-remove">
                                <a href=" #" title="Hủy lời mời kết bạn"><i class="fa fa-trash"></i></a>
                            </li>
                            <!-- user friend request to remoteUser   -->
                            <% } else { %>
                                <li class="add-tofrndlist">
                                    <% if(remoteUser.friends.findIndex(friend=> friend.user == user.id)==-1) { %>
                                        <a href="#" title="Gủi lời mời kết bạn" data-toggle="tooltip">
                                            <i class="fa fa-user-plus"></i>
                                        </a>
                                        <% } else { %>
                                            <a href="#" title="Hủy lời mời kết bạn" data-toggle="tooltip">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <% } %>
                                </li>
                                <% } %>
                                    <% } %>
                                        <!-- <li>
                </li> -->
                                        <li><a href="#" title="Follow" data-toggle="tooltip"><i
                                                    class="fa fa-star"></i></a>
                                        </li>
                                        <li><a class="send-mesg" href="#" title="Send Message" data-toggle="tooltip"><i
                                                    class="fa fa-comment"></i></a>
                                        </li>
                                        <% } else { %>
                                            <li>
                                                <div class="edit-seting" title="Edit Profile image"><i
                                                        class="fa fa-sliders"></i>
                                                    <ul class="more-dropdown">
                                                        <li><a href="setting.html" title="">Update Profile
                                                                Photo</a>
                                                        </li>
                                                        <li><a href="setting.html" title="">Update Header
                                                                Photo</a>
                                                        </li>
                                                        <li><a href="setting.html" title="">Account
                                                                Settings</a>
                                                        </li>
                                                        <li><a href="support-and-help.html" title="">Find
                                                                Support</a></li>
                                                        <li><a class="bad-report" href="#" title="">Report
                                                                Profile</a></li>
                                                        <li><a href="#" title="">Block Profile</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <% } %>
        </ul>
        <ol class="pit-rate">
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class=""><i class="fa fa-star"></i></li>
            <li><span>4.7/5</span></li>
        </ol>
    </figure>

    <div class="profile-section">
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <div class="profile-author">
                    <div class="profile-author-thumb">
                        <img alt="author" style="width: 155px; height: 155px;" src="<%= user.avatar %>">
                        <div class="edit-dp">
                            <label class="fileContainer">
                                <i class="fa fa-camera"></i>
                                <input type="file">
                            </label>
                        </div>
                    </div>

                    <div class="author-content">
                        <a class="h4 author-name" href="/user/<%= remoteUser.slug %>/about">
                            <%= remoteUser.firstName + ' ' + remoteUser.lastName %>
                        </a>
                        <div class="country">
                            <%= remoteUser.address %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-9">
                <ul class="profile-menu">
                    <li>
                        <a class="<%= heading == 'Timeline' ? 'active' : '' %>"
                            href="/user/<%= remoteUser.slug %>/">Timeline</a>
                    </li>
                    <li>
                        <a class="<%= heading == 'About' ? 'active' : '' %>"
                            href="/user/<%= remoteUser.slug %>/about">About</a>
                    </li>
                    <li>
                        <a class="<%= heading == 'Friends' ? 'active' : '' %>"" href=" /user/<%=remoteUser.slug
                            %>/friends">Friends</a>
                    </li>
                    <li>
                        <a class="<%= heading == 'Photos' ? 'active' : '' %>"" href=" /user/<%=remoteUser.slug
                            %>/photos">Photos</a>
                    </li>
                    <li>
                        <a class="<%= heading == 'Videos' ? 'active' : '' %>"" href=" /user/<%=remoteUser.slug
                            %>/videos">Videos</a>
                    </li>
                    <li>
                        <div class="more">
                            <i class="fa fa-ellipsis-h"></i>
                            <ul class="more-dropdown">
                                <li>
                                    <a href="/user/<%=user.slug
                                    %>/groups">Profile
                                        Groups</a>
                                </li>
                                <li>
                                    <a href="/user/<%=user.slug
                                    %>/statistics">Profile
                                        Analytics</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ol class="folw-detail">
                    <li><span>Posts</span><ins>
                            <%= remoteUser.postsNumber %>
                        </ins></li>
                    <li><span>Followers</span><ins>
                            <%= remoteUser.followers.length %>
                        </ins></li>
                    <li><span>Following</span><ins>
                            <%= remoteUser.followings.length %>
                        </ins></li>
                </ol>
            </div>
        </div>
    </div>
</div><!-- user profile banner  -->